@page
@model AdminEmpl.Web.Pages.EmplNoEncontModel
@{
    ViewData["Title"] = "No encontrado";
}
<h1>El recurso que quieres visualizar no se encuentra disponible.</h1>
<a asp-page="/Empleados/Index" class="btn btn-primary">Regresar al listado de los empleados.</a>